# Assignment 1, Meenu Ravi, April 9 2021

* The notebook is taken from the Geron's textbook.
* Data: California census data
* Objective: predict housing prices
  * **Supervised learning** problem - labeled data
  * **Regression problem**
    * **Multiple regression** problem - multiple features
    * **Univariate regression** problem - we are trying to predict a single label (if we were trying to predict multiple labels - **multivariate regression** problem)
* Performance measure:
    * **Root Mean Square Error** (RMSE):  RMSE(X,h) $ = \sqrt{\frac{1}{m}\sum^{m}_{i=1} (h(x^{(i)}) - y^{(i)})^2} $
    * **Mean absolute error** (MAE): MAE(X,h) $ = \frac{1}{m} \sum_{i=1}^m |h(x^{(i)}) - y^{(i)}| $
    * RMSE is more sensitive to outliers than the MAE. But when
outliers are exponentially rare (like in a bell-shaped curve), the RMSE performs
very well and is generally preferred.

## Setup

In [197]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "."
CHAPTER_ID = "end_to_end_project"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Get the data

* Download data to disk

In [198]:
import os
import tarfile
import urllib.request

DOWNLOAD_ROOT = "https://raw.githubusercontent.com/ageron/handson-ml2/master/"
HOUSING_PATH = os.path.join("datasets", "housing")
HOUSING_URL = DOWNLOAD_ROOT + "datasets/housing/housing.tgz"

def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
    if not os.path.isdir(housing_path):
        os.makedirs(housing_path)
    tgz_path = os.path.join(housing_path, "housing.tgz")
    urllib.request.urlretrieve(housing_url, tgz_path)
    housing_tgz = tarfile.open(tgz_path)
    housing_tgz.extractall(path=housing_path)
    housing_tgz.close()

In [199]:
fetch_housing_data()

In [200]:
import pandas as pd

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)

In [201]:
housing = load_housing_data()
np.random.seed(42)

## Split data into train and test set

In [202]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.2, random_state=42)

# Prepare the data for Machine Learning algorithms

In [203]:
from sklearn.model_selection import StratifiedShuffleSplit
housing["income_cat"] = pd.cut(housing["median_income"],
                               bins=[0., 1.5, 3.0, 4.5, 6., np.inf],
                               labels=[1, 2, 3, 4, 5])
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(housing, housing["income_cat"]):
    strat_train_set = housing.loc[train_index]
    strat_test_set = housing.loc[test_index]

In [204]:
housing = strat_train_set.drop("median_house_value", axis=1) # drop labels for training set
housing_labels = strat_train_set["median_house_value"].copy()

### Data cleaning
#### Dealing with missing values

In [205]:
sample_incomplete_rows = housing[housing.isnull().any(axis=1)].head()

#### Option 1: drop records with missing values

In [206]:
sample_incomplete_rows.dropna(subset=["total_bedrooms"])

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, ocean_proximity, income_cat]
Index: []

#### Option 2: drop variable that has incomplete values

In [207]:
sample_incomplete_rows.drop("total_bedrooms", axis=1)       # option 2

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity,income_cat
4629,-118.30,34.07,18.0,3759.0,3296.0,1462.0,2.2708,<1H OCEAN,2
6068,-117.86,34.01,16.0,4632.0,3038.0,727.0,5.1762,<1H OCEAN,4
17923,-121.97,37.35,30.0,1955.0,999.0,386.0,4.6328,<1H OCEAN,4
13656,-117.30,34.05,6.0,2155.0,1039.0,391.0,1.6675,INLAND,2
19252,-122.79,38.48,7.0,6837.0,3468.0,1405.0,3.1662,<1H OCEAN,3

#### Option 3: fill missing values with, for example, median or mean or some other constant

In [208]:
median = housing["total_bedrooms"].median()
sample_incomplete_rows["total_bedrooms"].fillna(median, inplace=True) # option 3

In [209]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="median")

Remove the text attribute because median can only be calculated on numerical attributes:

In [210]:
housing_num = housing.drop("ocean_proximity", axis=1)
# alternatively: housing_num = housing.select_dtypes(include=[np.number])

Transform the training set:

In [211]:
imputer.fit(housing_num)
X = imputer.transform(housing_num)

In [212]:
housing_tr = pd.DataFrame(X, columns=housing_num.columns,
                          index=housing.index)

In [213]:
housing_tr.loc[sample_incomplete_rows.index.values]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,income_cat
4629,-118.30,34.07,18.0,3759.0,433.0,3296.0,1462.0,2.2708,2.0
6068,-117.86,34.01,16.0,4632.0,433.0,3038.0,727.0,5.1762,4.0
17923,-121.97,37.35,30.0,1955.0,433.0,999.0,386.0,4.6328,4.0
13656,-117.30,34.05,6.0,2155.0,433.0,1039.0,391.0,1.6675,2.0
19252,-122.79,38.48,7.0,6837.0,433.0,3468.0,1405.0,3.1662,3.0

In [214]:
housing_tr = pd.DataFrame(X, columns=housing_num.columns,
                          index=housing_num.index)

### Encode categorical input features

In [215]:
housing_cat = housing[["ocean_proximity"]]
housing_cat.head(10)

      ocean_proximity
17606       <1H OCEAN
18632       <1H OCEAN
14650      NEAR OCEAN
3230           INLAND
3555        <1H OCEAN
19480          INLAND
8879        <1H OCEAN
13685          INLAND
4937        <1H OCEAN
4861        <1H OCEAN

#### OrdinalEncoder

In [216]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder()
housing_cat_encoded = ordinal_encoder.fit_transform(housing_cat)
housing_cat_encoded[:10]

array([[0.],
       [0.],
       [4.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.]])

#### OneHotEncoder

In [217]:
from sklearn.preprocessing import OneHotEncoder

cat_encoder = OneHotEncoder()
housing_cat_1hot = cat_encoder.fit_transform(housing_cat)
housing_cat_1hot

<16512x5 sparse matrix of type '<class 'numpy.float64'>'
	with 16512 stored elements in Compressed Sparse Row format>

By default, the `OneHotEncoder` class returns a sparse array, but we can convert it to a dense array if needed by calling the `toarray()` method:

In [218]:
housing_cat_1hot.toarray()

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

Alternatively, you can set `sparse=False` when creating the `OneHotEncoder`:

In [219]:
cat_encoder = OneHotEncoder(sparse=False)
housing_cat_1hot = cat_encoder.fit_transform(housing_cat)
housing_cat_1hot

array([[1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1.],
       ...,
       [0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0.]])

In [220]:
from sklearn.base import BaseEstimator, TransformerMixin

col_names = "total_rooms", "total_bedrooms", "population", "households"
rooms_ix, bedrooms_ix, population_ix, households_ix = [
    housing.columns.get_loc(c) for c in col_names]

class CombinedAttributesAdder(BaseEstimator, TransformerMixin):
    def __init__(self, add_bedrooms_per_room=True): # no *args or **kargs
        self.add_bedrooms_per_room = add_bedrooms_per_room
    def fit(self, X, y=None):
        return self  # nothing else to do
    def transform(self, X):
        rooms_per_household = X[:, rooms_ix] / X[:, households_ix]
        population_per_household = X[:, population_ix] / X[:, households_ix]
        if self.add_bedrooms_per_room:
            bedrooms_per_room = X[:, bedrooms_ix] / X[:, rooms_ix]
            return np.c_[X, rooms_per_household, population_per_household,
                         bedrooms_per_room]
        else:
            return np.c_[X, rooms_per_household, population_per_household]

attr_adder = CombinedAttributesAdder(add_bedrooms_per_room=False)
housing_extra_attribs = attr_adder.transform(housing.values)

type(housing_extra_attribs)
housing_extra_attribs.shape

(16512, 12)

In [221]:
housing_extra_attribs = pd.DataFrame(
    housing_extra_attribs,
    columns=list(housing.columns)+["rooms_per_household", "population_per_household"],
    index=housing.index)
housing_extra_attribs.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,income_cat,rooms_per_household,population_per_household
17606,-121.89,37.29,38.0,1568.0,351.0,710.0,339.0,2.7042,<1H OCEAN,2,4.625369,2.094395
18632,-121.93,37.05,14.0,679.0,108.0,306.0,113.0,6.4214,<1H OCEAN,5,6.00885,2.707965
14650,-117.2,32.77,31.0,1952.0,471.0,936.0,462.0,2.8621,NEAR OCEAN,2,4.225108,2.025974
3230,-119.61,36.31,25.0,1847.0,371.0,1460.0,353.0,1.8839,INLAND,2,5.232295,4.135977
3555,-118.59,34.23,17.0,6592.0,1525.0,4459.0,1463.0,3.0347,<1H OCEAN,3,4.50581,3.047847

In [222]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_pipeline = Pipeline([
        ('imputer', SimpleImputer(strategy="median")),
        ('attribs_adder', CombinedAttributesAdder()),
        ('std_scaler', StandardScaler()),
    ])

housing_num_tr = num_pipeline.fit_transform(housing_num)

In [223]:
from sklearn.compose import ColumnTransformer

num_attribs = list(housing_num)
cat_attribs = ["ocean_proximity"]

full_pipeline = ColumnTransformer([
        ("num", num_pipeline, num_attribs),
        ("cat", OneHotEncoder(), cat_attribs),
    ])

housing_prepared = full_pipeline.fit_transform(housing)

## Extending notebook 3 for homework assignment 1

### Question 2: Extend l1_n3.ipynb to try a Support Vector Machine regressor (sklearn.svm.SVR) with various hyperparameters

In [224]:
from sklearn.svm import SVR

##### Grid Search CV

In [225]:
from sklearn.model_selection import GridSearchCV
param_grid = [{'C':[0.1,1,10],'kernel':['linear']},
            { 'C':[0.1,1,10],
              'kernel':['rbf'],
              'gamma':[1,0.1,0.01]
              }]
grid = GridSearchCV(SVR(),param_grid,cv=5,
                           return_train_score=True,scoring='neg_mean_squared_error', n_jobs=-1,verbose=True)

In [226]:
grid.fit(housing_prepared, housing_labels)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

GridSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
             param_grid=[{'C': [0.1, 1, 10], 'kernel': ['linear']},
                         {'C': [0.1, 1, 10], 'gamma': [1, 0.1, 0.01],
                          'kernel': ['rbf']}],
             return_train_score=True, scoring='neg_mean_squared_error',
             verbose=True)

In [227]:
grid.best_params_

{'C': 10, 'kernel': 'linear'}

In [228]:
grid.best_estimator_

SVR(C=10, kernel='linear')

In [229]:
cvres = grid.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

117800.31017688812 {'C': 0.1, 'kernel': 'linear'}
108968.2694281854 {'C': 1, 'kernel': 'linear'}
81649.4933206491 {'C': 10, 'kernel': 'linear'}
118919.9953920614 {'C': 0.1, 'gamma': 1, 'kernel': 'rbf'}
118885.04966623483 {'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'}
118905.45885493883 {'C': 0.1, 'gamma': 0.01, 'kernel': 'rbf'}
118894.65726808914 {'C': 1, 'gamma': 1, 'kernel': 'rbf'}
118556.82411885096 {'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}
118743.74833054295 {'C': 1, 'gamma': 0.01, 'kernel': 'rbf'}
118658.95230678072 {'C': 10, 'gamma': 1, 'kernel': 'rbf'}
115419.67531992932 {'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}
117186.1192387479 {'C': 10, 'gamma': 0.01, 'kernel': 'rbf'}

In [230]:
pd.DataFrame(grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,param_gamma,params,split0_test_score,split1_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,19.681751,0.072417,2.862765,0.026643,0.1,linear,NaN,"{'C': 0.1, 'kernel': 'linear'}",-1.315112e+10,-1.387641e+10,...,-1.387691e+10,3.791130e+08,5,-1.400398e+10,-1.383835e+10,-1.381917e+10,-1.384067e+10,-1.386633e+10,-1.387370e+10,6.684480e+07
1,19.522096,0.072867,2.865562,0.034548,1,linear,NaN,"{'C': 1, 'kernel': 'linear'}",-1.125018e+10,-1.182956e+10,...,-1.187408e+10,3.322747e+08,2,-1.198156e+10,-1.184924e+10,-1.182250e+10,-1.185397e+10,-1.184356e+10,-1.187017e+10,5.672647e+07
2,18.324581,0.343100,2.847372,0.023801,10,linear,NaN,"{'C': 10, 'kernel': 'linear'}",-6.295450e+09,-6.584026e+09,...,-6.666640e+09,2.496191e+08,1,-6.693891e+09,-6.652226e+09,-6.607054e+09,-6.759641e+09,-6.578965e+09,-6.658355e+09,6.402138e+07
3,22.392199,0.571932,13.453108,0.255117,0.1,rbf,1,"{'C': 0.1, 'gamma': 1, 'kernel': 'rbf'}",-1.339928e+10,-1.415632e+10,...,-1.414197e+10,3.859015e+08,12,-1.426616e+10,-1.411047e+10,-1.407865e+10,-1.410180e+10,-1.413707e+10,-1.413883e+10,6.635311e+07
4,22.997838,0.522585,13.632257,0.070388,0.1,rbf,0.1,"{'C': 0.1, 'gamma': 0.1, 'kernel': 'rbf'}",-1.339149e+10,-1.414783e+10,...,-1.413366e+10,3.857823e+08,9,-1.425812e+10,-1.410194e+10,-1.407247e+10,-1.409154e+10,-1.412862e+10,-1.413054e+10,6.631965e+07
5,23.545629,0.398374,13.731434,0.058042,0.1,rbf,0.01,"{'C': 0.1, 'gamma': 0.01, 'kernel': 'rbf'}",-1.339591e+10,-1.415272e+10,...,-1.413851e+10,3.859304e+08,11,-1.426261e+10,-1.410701e+10,-1.407643e+10,-1.409727e+10,-1.413359e+10,-1.413538e+10,6.621701e+07
6,21.809266,0.405403,13.654177,0.123813,1,rbf,1,"{'C': 1, 'gamma': 1, 'kernel': 'rbf'}",-1.339378e+10,-1.415069e+10,...,-1.413594e+10,3.857548e+08,10,-1.426042e+10,-1.410452e+10,-1.407454e+10,-1.409438e+10,-1.412965e+10,-1.413270e+10,6.628097e+07
7,22.796033,0.335700,13.681777,0.068240,1,rbf,0.1,"{'C': 1, 'gamma': 0.1, 'kernel': 'rbf'}",-1.332038e+10,-1.406059e+10,...,-1.405572e+10,3.834745e+08,6,-1.418525e+10,-1.401355e+10,-1.399560e+10,-1.401631e+10,-1.405169e+10,-1.405248e+10,6.882927e+07
8,23.771397,0.322662,13.757269,0.124707,1,rbf,0.01,"{'C': 1, 'gamma': 0.01, 'kernel': 'rbf'}",-1.335967e+10,-1.411261e+10,...,-1.410008e+10,3.849777e+08,8,-1.422436e+10,-1.406769e+10,-1.403973e+10,-1.405625e+10,-1.409651e+10,-1.409691e+10,6.636502e+07
9,21.734253,0.385688,13.798311,0.232454,10,rbf,1,"{'C': 10, 'gamma': 1, 'kernel': 'rbf'}",-1.334353e+10,-1.408626e+10,...,-1.407995e+10,3.836453e+08,7,-1.420855e+10,-1.403615e+10,-1.401883e+10,-1.403503e+10,-1.407734e+10,-1.407518e+10,6.943084e+07
10,22.908902,0.297287,13.661389,0.151659,10,rbf,0.1,"{'C': 10, 'gamma': 0.1, 'kernel': 'rbf'}",-1.261012e+10,-1.332207e+10,...,-1.332170e+10,3.721253e+08,3,-1.344912e+10,-1.327027e+10,-1.326209e+10,-1.328317e+10,-1.332390e+10,-1.331771e+10,6.905545e+07
11,24.213970,1.295250,14.042098,0.265957,10,rbf,0.01,"{'C': 10, 'gamma': 0.01, 'kernel': 'rbf'}",-1.301282e+10,-1.373112e+10,...,-1.373259e+10,3.759388e+08,4,-1.385880e+10,-1.369468e+10,-1.367463e+10,-1.369450e+10,-1.372416e+10,-1.372936e+10,6.662551e+07

##### Randomized Search CV using linear kernel

In [231]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
param_dist = [{'C':randint(low=1,high=100),'kernel':['linear']}
            ]
rnd_grid = RandomizedSearchCV(SVR(),param_dist,cv=5,n_iter=10,
                           return_train_score=True,scoring='neg_mean_squared_error', random_state=42,
                              n_jobs=-1,verbose=True)

In [232]:
rnd_grid.fit(housing_prepared, housing_labels)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
                   param_distributions=[{'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001CB5C96ABB0>,
                                         'kernel': ['linear']}],
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_squared_error', verbose=True)

In [233]:
rnd_grid.best_params_

{'C': 93, 'kernel': 'linear'}

In [234]:
rnd_grid.best_estimator_

SVR(C=93, kernel='linear')

In [235]:
cvres = rnd_grid.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

72476.96714901099 {'C': 52, 'kernel': 'linear'}
71317.03930784999 {'C': 93, 'kernel': 'linear'}
78058.84138448106 {'C': 15, 'kernel': 'linear'}
71772.3154302096 {'C': 72, 'kernel': 'linear'}
72083.57989550327 {'C': 61, 'kernel': 'linear'}
75947.04494688548 {'C': 21, 'kernel': 'linear'}
71498.69440494395 {'C': 83, 'kernel': 'linear'}
71427.84045379868 {'C': 87, 'kernel': 'linear'}
71675.4378881904 {'C': 75, 'kernel': 'linear'}
71675.4378881904 {'C': 75, 'kernel': 'linear'}

In [236]:
pd.DataFrame(rnd_grid.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,20.262881,0.427441,2.850428,0.012795,52,linear,"{'C': 52, 'kernel': 'linear'}",-4.931273e+09,-5.392689e+09,-5.445445e+09,...,-5.252911e+09,2.436532e+08,8,-5.300389e+09,-5.185431e+09,-5.203196e+09,-5.332177e+09,-5.182532e+09,-5.240745e+09,6.288948e+07
1,22.900542,3.849370,3.185750,0.378959,93,linear,"{'C': 93, 'kernel': 'linear'}",-4.751247e+09,-5.320633e+09,-5.259426e+09,...,-5.086120e+09,2.568731e+08,1,-5.134579e+09,-5.007461e+09,-5.040499e+09,-5.155815e+09,-5.023405e+09,-5.072352e+09,6.076116e+07
2,25.380828,1.725362,3.672992,0.058954,15,linear,"{'C': 15, 'kernel': 'linear'}",-5.742320e+09,-6.048678e+09,-6.319090e+09,...,-6.093183e+09,2.416011e+08,10,-6.105943e+09,-6.069745e+09,-6.040579e+09,-6.203865e+09,-5.994750e+09,-6.082976e+09,7.056622e+07
3,25.002366,0.699607,3.218014,0.279223,72,linear,"{'C': 72, 'kernel': 'linear'}",-4.818772e+09,-5.345711e+09,-5.337864e+09,...,-5.151265e+09,2.506965e+08,6,-5.197145e+09,-5.081746e+09,-5.108338e+09,-5.228036e+09,-5.082914e+09,-5.139636e+09,6.110645e+07
4,24.621291,0.348647,3.602699,0.041311,61,linear,"{'C': 61, 'kernel': 'linear'}",-4.865712e+09,-5.362860e+09,-5.383967e+09,...,-5.196042e+09,2.471261e+08,7,-5.239659e+09,-5.129275e+09,-5.148124e+09,-5.277929e+09,-5.128137e+09,-5.184625e+09,6.216295e+07
5,24.262433,0.680470,3.642908,0.054657,21,linear,"{'C': 21, 'kernel': 'linear'}",-5.445082e+09,-5.760244e+09,-5.987874e+09,...,-5.767954e+09,2.382218e+08,9,-5.804793e+09,-5.727476e+09,-5.716962e+09,-5.862392e+09,-5.683184e+09,-5.758961e+09,6.526267e+07
6,24.152777,0.706027,3.600311,0.054333,83,linear,"{'C': 83, 'kernel': 'linear'}",-4.779085e+09,-5.335911e+09,-5.286450e+09,...,-5.112063e+09,2.533634e+08,3,-5.160218e+09,-5.035712e+09,-5.063811e+09,-5.187268e+09,-5.044533e+09,-5.098309e+09,6.284389e+07
7,23.619982,0.269852,3.553760,0.048452,87,linear,"{'C': 87, 'kernel': 'linear'}",-4.769120e+09,-5.331188e+09,-5.276657e+09,...,-5.101936e+09,2.547957e+08,2,-5.151509e+09,-5.024619e+09,-5.055781e+09,-5.174220e+09,-5.034748e+09,-5.088176e+09,6.222246e+07
8,24.204878,0.369766,3.649700,0.065131,75,linear,"{'C': 75, 'kernel': 'linear'}",-4.801455e+09,-5.344774e+09,-5.318795e+09,...,-5.137368e+09,2.526170e+08,4,-5.180683e+09,-5.067866e+09,-5.092407e+09,-5.214476e+09,-5.070259e+09,-5.125138e+09,6.071180e+07
9,20.978250,3.533354,3.145064,0.797861,75,linear,"{'C': 75, 'kernel': 'linear'}",-4.801455e+09,-5.344774e+09,-5.318795e+09,...,-5.137368e+09,2.526170e+08,4,-5.180683e+09,-5.067866e+09,-5.092407e+09,-5.214476e+09,-5.070259e+09,-5.125138e+09,6.071180e+07

#### Randomized Search CV using rbf kernel

In [238]:
from sklearn.model_selection import RandomizedSearchCV
from scipy.stats import randint
param_dist = [
            { 'C':randint(low=1,high=100),
              'kernel':['rbf'],
              'gamma':randint(low=1,high=10)
              }]
rnd_grid2 = RandomizedSearchCV(SVR(),param_dist,cv=5,n_iter=10,
                           return_train_score=True,scoring='neg_mean_squared_error', random_state=42,
                              n_jobs=-1,verbose=True)

In [239]:
rnd_grid2.fit(housing_prepared, housing_labels)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

RandomizedSearchCV(cv=5, estimator=SVR(), n_jobs=-1,
                   param_distributions=[{'C': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001CB4BFA83D0>,
                                         'gamma': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001CB4BFA8CD0>,
                                         'kernel': ['rbf']}],
                   random_state=42, return_train_score=True,
                   scoring='neg_mean_squared_error', verbose=True)

In [240]:
cvres = rnd_grid2.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

118902.28337886001 {'C': 52, 'gamma': 8, 'kernel': 'rbf'}
118839.99060403393 {'C': 61, 'gamma': 5, 'kernel': 'rbf'}
118870.0554388319 {'C': 83, 'gamma': 7, 'kernel': 'rbf'}
118889.77017584811 {'C': 75, 'gamma': 8, 'kernel': 'rbf'}
118846.26919997799 {'C': 24, 'gamma': 3, 'kernel': 'rbf'}
118901.30913338567 {'C': 22, 'gamma': 5, 'kernel': 'rbf'}
118921.57470456738 {'C': 2, 'gamma': 8, 'kernel': 'rbf'}
118902.05838172584 {'C': 30, 'gamma': 6, 'kernel': 'rbf'}
118919.08578826314 {'C': 2, 'gamma': 5, 'kernel': 'rbf'}
118901.22836289476 {'C': 33, 'gamma': 6, 'kernel': 'rbf'}

In [241]:
rnd_grid2.best_params_

{'C': 61, 'gamma': 5, 'kernel': 'rbf'}

In [242]:
rnd_grid2.best_estimator_

SVR(C=61, gamma=5)

In [243]:
pd.DataFrame(rnd_grid2.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_gamma,param_kernel,params,split0_test_score,split1_test_score,...,mean_test_score,std_test_score,rank_test_score,split0_train_score,split1_train_score,split2_train_score,split3_train_score,split4_train_score,mean_train_score,std_train_score
0,33.882431,0.497326,16.055563,1.019672,52,8,rbf,"{'C': 52, 'gamma': 8, 'kernel': 'rbf'}",-1.339456e+10,-1.414763e+10,...,-1.413775e+10,3.867149e+08,8,-1.425210e+10,-1.409201e+10,-1.406945e+10,-1.408602e+10,-1.412700e+10,-1.412531e+10,6.610675e+07
1,34.116124,1.354618,15.264254,1.408074,61,5,rbf,"{'C': 61, 'gamma': 5, 'kernel': 'rbf'}",-1.338077e+10,-1.412935e+10,...,-1.412294e+10,3.865042e+08,1,-1.423580e+10,-1.407108e+10,-1.405344e+10,-1.407171e+10,-1.411242e+10,-1.410889e+10,6.633859e+07
2,35.702732,0.169887,17.159998,0.146655,83,7,rbf,"{'C': 83, 'gamma': 7, 'kernel': 'rbf'}",-1.338722e+10,-1.413743e+10,...,-1.413009e+10,3.868464e+08,3,-1.423877e+10,-1.407570e+10,-1.405735e+10,-1.407432e+10,-1.411465e+10,-1.411216e+10,6.603361e+07
3,35.220819,0.100000,17.175050,0.158861,75,8,rbf,"{'C': 75, 'gamma': 8, 'kernel': 'rbf'}",-1.339226e+10,-1.414414e+10,...,-1.413478e+10,3.863778e+08,4,-1.424566e+10,-1.408425e+10,-1.406192e+10,-1.407943e+10,-1.412033e+10,-1.411832e+10,6.644334e+07
4,30.844777,1.309853,16.649433,0.178891,24,3,rbf,"{'C': 24, 'gamma': 3, 'kernel': 'rbf'}",-1.338378e+10,-1.413116e+10,...,-1.412444e+10,3.857356e+08,2,-1.424632e+10,-1.407976e+10,-1.406059e+10,-1.407949e+10,-1.411887e+10,-1.411701e+10,6.738513e+07
5,38.864548,1.244252,16.834296,1.194202,22,5,rbf,"{'C': 22, 'gamma': 5, 'kernel': 'rbf'}",-1.339447e+10,-1.414825e+10,...,-1.413752e+10,3.865670e+08,6,-1.425738e+10,-1.409804e+10,-1.407381e+10,-1.409210e+10,-1.413077e+10,-1.413042e+10,6.609092e+07
6,34.308560,4.869699,16.196616,2.126852,2,8,rbf,"{'C': 2, 'gamma': 8, 'kernel': 'rbf'}",-1.339964e+10,-1.415657e+10,...,-1.414234e+10,3.859194e+08,10,-1.426618e+10,-1.411037e+10,-1.407872e+10,-1.410187e+10,-1.413718e+10,-1.413887e+10,6.634922e+07
7,31.310101,0.199826,14.532691,0.366582,30,6,rbf,"{'C': 30, 'gamma': 6, 'kernel': 'rbf'}",-1.339452e+10,-1.414802e+10,...,-1.413770e+10,3.866766e+08,7,-1.425596e+10,-1.409635e+10,-1.407304e+10,-1.409030e+10,-1.413014e+10,-1.412916e+10,6.605154e+07
8,33.149252,0.956997,16.538941,1.377607,2,5,rbf,"{'C': 2, 'gamma': 5, 'kernel': 'rbf'}",-1.339912e+10,-1.415601e+10,...,-1.414175e+10,3.858825e+08,9,-1.426561e+10,-1.410978e+10,-1.407817e+10,-1.410127e+10,-1.413655e+10,-1.413828e+10,6.635006e+07
9,30.061609,3.740213,11.892802,3.509630,33,6,rbf,"{'C': 33, 'gamma': 6, 'kernel': 'rbf'}",-1.339464e+10,-1.414685e+10,...,-1.413750e+10,3.866087e+08,5,-1.425566e+10,-1.409456e+10,-1.407247e+10,-1.408944e+10,-1.412998e+10,-1.412842e+10,6.631707e+07

In [244]:
from sklearn.metrics import mean_squared_error
final_model = grid.best_estimator_

X_test = strat_test_set.drop("median_house_value", axis=1)
y_test = strat_test_set["median_house_value"].copy()

X_test_prepared = full_pipeline.transform(X_test)
final_predictions = final_model.predict(X_test_prepared)

final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)

In [245]:
final_rmse

78069.60329439449

In [246]:
from scipy import stats

confidence = 0.95
squared_errors = (final_predictions - y_test) ** 2
np.sqrt(stats.t.interval(confidence, len(squared_errors) - 1,
                         loc=squared_errors.mean(),
                         scale=stats.sem(squared_errors)))

array([75391.8615527 , 80658.49694054])

In [250]:
final_model = rnd_grid.best_estimator_

X_test = strat_test_set.drop("median_house_value", axis=1)
y_test = strat_test_set["median_house_value"].copy()

X_test_prepared = full_pipeline.transform(X_test)
final_predictions = final_model.predict(X_test_prepared)

final_mse = mean_squared_error(y_test, final_predictions)
final_rmse = np.sqrt(final_mse)
final_rmse

69209.34884560181

#### How does the best SVR predictor perform?

The best model achieves the score of 78069 when evaluated using 5-fold cross validation. This is worse than the Random Forest Regressor done in the original notebook 3. The linear kernel seems better than the RBF kernel. The value of
C is the maximum of the tested C values. Randomized search tends to find better hyperparameters than grid search cv in
the same amount of time, especially for linear kernel. In the randomized search, using linear kernel, the error is smaller and closer to the Random forest regressor. In terms of time, the SVR performs slower than the random forest regressor.

## Question 3: Add a transformer in the preparation pipeline to select only the most important attributes.

#### This is the transformer below:

In [252]:
class TopFeatureSelector(BaseEstimator,TransformerMixin):
    def __init__(self,threshold):
        self.threshold=threshold
       
    def fit(self, X, y):
        corr=X.corrwith(y)
        self.important_features=corr.index[(np.abs(corr)>self.threshold)].tolist()
        return self

    def transform(self, X):
        return X[self.important_features]

####  Insert a transformer into the preparation pipeline

In [254]:
feature_selection_pipeline = Pipeline([
    ('feature_selection', TopFeatureSelector( 0.1))
])
feature_selection_pipeline

Pipeline(steps=[('feature_selection', TopFeatureSelector(threshold=0.1))])

In [256]:
top_features = feature_selection_pipeline.fit_transform(housing,housing_labels)

#### Showing the dataframe with the top features

In [258]:
top_features

       latitude  housing_median_age  total_rooms  median_income
17606     37.29                38.0       1568.0         2.7042
18632     37.05                14.0        679.0         6.4214
14650     32.77                31.0       1952.0         2.8621
3230      36.31                25.0       1847.0         1.8839
3555      34.23                17.0       6592.0         3.0347
...         ...                 ...          ...            ...
6563      34.20                46.0       1271.0         4.9312
12053     33.88                40.0       1196.0         2.0682
13908     34.09                 9.0       4855.0         3.2723
11159     33.82                31.0       1960.0         4.0625
15775     37.77                52.0       3095.0         3.5750

[16512 rows x 4 columns]